body{
    display : flex;
    flex-direction: column;
}
main{
    display : flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    background-color: blanchedalmond;
}
.table{
    border: solid;
    border-collapse: collapse;
}
td {
    border: solid;
    color: blueviolet;
}
th{
    border: solid;
    color: brown;
}
.efa{
    display: flex;
    justify-content: center;
}